<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title>Пользовательская панель</title>
    <style>
        table, th, td {
            padding: 10px;
            border: 1px solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Панель пользователя</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>ID пользователя</th>
            <th>Имя пользователя</th>
            <th>Роли</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.username}">Имя пользователя</td>
            <td>
                <span th:each="role : ${user.roles}"
                      th:text="${role.name.replace('ROLE_', ' ')} + ' '">
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <form th:action="@{/admin}" method="get">
        <button type="submit">Переход в админ-панель</button>
    </form>
    <br>
</div>
<div th:replace="fragments/logout-section :: logout"></div>
</body>
</html>